<header id="hero"
  class="bg-gradient-to-br from-indigo-500 via-blue-300 to-purple-900 text-white py-24 sm:py-32 relative overflow-hidden">
  <div class="container mx-auto flex flex-col items-center px-6 text-center z-10 relative">
    <!-- Background Blob/Shape (Optional, for more dynamic look) -->
    <div class="absolute inset-0 opacity-10"
      style="background-image: radial-gradient(circle at top left, rgba(104, 113, 240, 0.2) 0%, transparent 50%), radial-gradient(circle at bottom right, rgba(113, 61, 255, 0.2) 0%, transparent 50%);">
    </div>
    <h1 class=" text-5xl sm:text-6xl md:text-7xl font-extrabold mb-4 leading-tight text-shadow-hero animate-fade-in-up">
      Aqore Hackathon 2025
    </h1>
    <h2 class="text-3xl  font-extrabold mb-4 leading-tight text-shadow-hero animate-fade-in-up">
      Innovate Staffing With AI
    </h2>
    <div class="container mx-auto px-6 max-w-5xl ">
      <!-- Removed the H2 "Explore Your Sandbox: Datasets & Tools" -->
      <p class="text-xl text-white text-center  max-w-3xl mx-auto animate-fade-in delay-200">
        Dive into our curated resources, designed to empower your development of innovative <br>AI-powered staffing
        software <br>
        Everything you need to build, test, and deploy your next-gen solutions.
      </p>

    </div>
  </div>
</header>